{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}


{% block content %}

<h1><center>LIST OF SECTIONS</center></h1>
<br>
<a href="{% url 'add_classroom' %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);">
    Add New Classroom
  </a>
  <br>

<div class="table-container">
    {% if tags %}
        {% for tag in tags %}
            <center>
                <h2>{{ tag.gradelevel }}</h2>
                <div class="table-responsive">
                    <table class="table" style="width: 70rem;">
                        <thead>
                            <tr>
                                <th>Classroom</th>
                                <th>Teacher</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <hr style="border-top: 2px solid black; margin-top: 20px; margin-bottom: 20px;">


                            {% for classroom in tag.classroom %}
                                <tr>
                                    <td>
                                        
                                        <a href="{% url 'classroom_detail' classroom.id %}">{{ classroom.classroom }}</a>
                                    </td>
                                    <td>
                                        {% if classroom.teacher %}
                                            {{ classroom.teacher.user.first_name }} {{ classroom.teacher.user.last_name }}
                                        {% else %}
                                            Not assigned
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_classroom' classroom.id %}" class="btn btn-primary">Edit</a>
                                        <form action="{% url 'delete_classroom' classroom.id %}" method="POST" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                        
                    </table>
                    <hr style="border-top: 2px solid black; margin-top: 20px; margin-bottom: 20px;">


                </div>
            </center>
        {% endfor %}
    {% endif %}
</div>



<!--
<br>

  <a href="{% url 'add_classroom' %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);">
    Add New Classroom
  </a>
-->
  
  
  

{% endblock content %}
