<!-- student_history.html -->
{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}


{% block content %}
<h1><center>STUDENT HISTORY</center></h1>
<div class="table-container">
    <table class='table'>
        <thead>
            <tr>
                <th>COUNT</th>
                <th>LRN</th>
                <th>LAST NAME</th>
                <th>FIRST NAME</th>
                <th>GRADE LEVEL</th>
                <th>SECTION</th>
                <th>LAST UPDATED</th>
                <th>EDITED BY</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for record in student_records %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ record.LRN }}</td>
                    <td>{{ record.last_name }}</td>
                    <td>{{ record.first_name }}</td>
                    <td>{{ record.gradelevel }}</td>
                    <td>{{ record.classroom }}</td>
                    <td>{{ record.history_date }}</td>
                    <td>{{ record.history_user.get_username }}, {{ record.history_user.first_name }} {{ record.history_user.last_name }}</td>
                    <td>
                        {% if record.history_type == '~' %}
                          EDITED
                        {% elif record.history_type == '+' %}
                          ADDED
                        {% elif record.history_type == '-' %}
                          DELETED
                        {% endif %}
                      </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}