
{% extends 'base.html' %}
{% load static %}


{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}


{% block content %}

<div class="search-container">
    <form action="{% url 'students' %}" method="get" class="search-form">
        <input type="text" name="query" placeholder="Student Name/LRN" required  class="search-input">
        <button type="submit" class="search-button">Search</button> 
    </form>
  </div>

<center>
<h1>{{ classroom.gradelevel }} "{{ classroom.classroom }}"</h1>

<h3>TEACHER: {{ classroom.teacher.first_name }} {{ classroom.teacher.last_name }}</h3>
<br>
<a href="{% url 'add_student' %}" style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);">
  Add New Student
</a>
</center>


<br>
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>LRN</th>
          <th>Name</th>
          <th>Religion</th>
          <th>Age</th>
          <th>Grade & Section</th>
          <th>Semester</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{ student.LRN }}</td>
          <td>{{ student.last_name }}, {{ student.first_name }} {{ student.middle_name }} {{ student.suffix_name }}</td>
          <td>{{ student.religion }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.classroom }}</td>
          <td>{{ student.get_sem_display }}</td>
          <td>
            <button type="button" class="btn btn-primary view-button" data-bs-toggle="modal" data-bs-target="#studentModal{{ student.id }}">
              View Profile
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  {% for student in students %}
  <!-- Modal - Student Profile -->
  <div class="modal fade" id="studentModal{{ student.id }}" tabindex="-1" aria-labelledby="studentModalLabel{{ student.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="studentModalLabel{{ student.id }}">Student Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="profile-section">
            <h4>Student Information</h4>
            <p><strong>Name:</strong> {{ student.first_name }} {{ student.last_name }}</p>
            <p><strong>Age:</strong> {{ student.age }}</p>
            <p><strong>Grade:</strong> {{ student.classroom }}</p>
            <p><strong>Academic Strand:</strong> {{ student.get_strand_display }}</p>
            <p><strong>Address:</strong> {{ student.address }}</p>
            <p><strong>Gender:</strong> {{ student.sex }}</p>
            <p><strong>Birthday:</strong> {{ student.birthday }}</p>
            <p><strong>Religion:</strong> {{ student.religion }} (Other Religion: {{ student.other_religion }})</p>
            <p><strong>Mother Tongue:</strong> {{ student.mother_tongue }}</p>
            <!--<p><strong>Preferred Learning Modality:</strong> {{ student.modality_options }}</p> -->
            <p><strong>Economic Range:</strong> {{ student.get_economic_range_display }}</p>
            <p><strong>Returnee Student:</strong> {{ student.get_is_returnee_display }}</p>
            <p><strong>Working Student:</strong> {{ student.get_is_a_working_student_display }}</p>
            <p><strong>Drop Out:</strong> {{ student.get_is_a_dropout_display }}</p>
            <p><strong>4Ps Scholar:</strong> {{ student.get_is_a_four_ps_scholar_display }}</p>
            <!-- Add more student profile data as needed -->
          </div>
          
          <div class="profile-section">
            <h4>Parents Information</h4>
            <p><strong>Father's Name & Contact:</strong> {{ student.father_name }} {{ student.father_contact }}</p>
            <p><strong>Mother's Name & Contact:</strong> {{ student.mother_name }} {{ student.mother_contact }}</p>
            <!-- Add more parent profile data as needed -->
          </div>
        </div>
        <div class="modal-footer">
          <a href="{% url 'edit_student' student.id %}" class="btn btn-secondary">Edit</a>
          <a href="{% url 'delete_student' student.id %}" class="btn btn-danger" title="Delete" onclick="return confirm('Are you sure you want to delete this item?');">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <script>
    const viewButtons = document.querySelectorAll('.view-button');
  
    viewButtons.forEach((button) => {
      button.addEventListener('click', (e) => {
        e.preventDefault();
        const target = button.dataset.bsTarget;
        const modal = document.querySelector(target);
        const backdrop = document.querySelector('.modal-backdrop');
        modal.classList.add('show');
        modal.style.display = 'block';
        backdrop.classList.add('show');
      });
    });
  
    // Close modal when close button is clicked
    const closeButtons = document.querySelectorAll('.btn-close[data-bs-dismiss="modal"]');
    closeButtons.forEach((button) => {
      button.addEventListener('click', () => {
        const modal = button.closest('.modal');
        const backdrop = document.querySelector('.modal-backdrop');
        modal.classList.remove('show');
        modal.style.display = 'none';
        backdrop.classList.remove('show');
      });
    });
  </script>


{% endblock content %}
